<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avit.apnamzpadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApnaMzpAdmin"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.allshops.AllShopsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.shopdataservice.ShopDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.servicestatus.ServiceStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.editshop.EditShopService"
            android:exported="false" />
        <activity
            android:name=".ui.bulknotification.BulkNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bannerimagedetails.BannerImagesDetails"
            android:exported="false" />
        <activity
            android:name=".ui.bannerimageservice.BannerImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.createshop.CreateShopActivity"
            android:exported="false" />
        <activity
            android:name=".ui.directorder.DirectOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reviewservice.ReviewService"
            android:exported="false" />
        <activity
            android:name=".ui.orderdetails.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.getorderservice.GetOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.deliverysathistatus.DeliverySathisStatusActivity"
            android:exported="false" />

        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.adminshopservice.AdminShopServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.deliverysathiservice.DeliverySathiServiceActiviry"
            android:exported="false" />
        <activity
            android:name=".ui.partnerappservices.PartnerServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pickanddropservice.PickAndDropServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.userappservices.UserAppServiceActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>